* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1em 15em;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
}

.top {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

.top-right-links {
    display: flex;
    gap: 2em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}