* {
    font-family: "Roboto", sans-serif;
    outline: 2px solid red;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    color: #1f2937;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1% 15%;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

.top-right-links {
    display: flex;
    gap: 1em 2em;
    flex-wrap: wrap;
    justify-content: right;
    margin-bottom: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 0 0 auto;
}

.header-content {
    display: flex;
   margin: 70px 0;
}

#header-content-left, #header-content-right {
    flex: 1;
}

#header-content-right {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 0% 15%;
    flex-wrap: wrap;
    gap: 40px;
}

.image {
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.image-text {
    width: 150px;
    font-size: 15px;
    color: rgb(54, 54, 54);
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 9% 15%;
    margin: 40px 0;
}

.quote p {
    margin: 0;
}

#quote-author {
    font-weight: bold;
    text-align: right;
    font-size: 25px;
}